{% extends 'customers/base.html' %}
{% block list_name %}
    <h1><strong> 所有客户列表 </strong></h1>
{% endblock %}

{% block content %}

    <h3 style="margin-left: 150px"><strong>所有客户列表 </strong></h3>
    <br>


    <div class="container-fluid">
    <div class="row">
    <div class="col-md-10 col-lg-offset-1">
        <!--模糊查询的form表单-->
        <form action="" style="float:right;" method="get" novalidate>
            {% csrf_token %}
            <select name="field" id="" style="display: inline-block;width: 100px;height: 30px" class="form-control">
                <option value="name">姓名</option>
                <option value="qq">qq</option>
                <option value="phone">手机号</option>
            </select>

            <input type="text" placeholder="输入搜索条件" style="width: 200px;height: 31px;display: inline-block"
                   name="search" class="form-control">
            <input type="submit" class="btn btn-success" value="搜索" style="width: 100px;display: inline-block">
        </form>

        <!--批量处理的form表单-->
        <form action="" method="post" name="action">
            {% csrf_token %}

<a href="/add_consult_record/" style="font-size: x-large"> 添加跟进记录</a>
            <table class="table table-bordered">

                <thead>
                <tr>
                    <th><input type="checkbox">1</th>
                    <th>编号</th>
                    <th>客户姓名</th>
                    <th>当前状态</th>
                    <th>跟进内容</th>
                    <th>跟进状态</th>

                    <th>销售</th>
                    <th>删除状态</th>
                    <th>跟进日期</th>
                    <th>操作</th>
                    <th>操作</th>


                </tr>
                </thead>
                {% for record_obj in consult_record_list %}
                    <tr>
                        <td><input type="checkbox" name="selected_list" value="{{ customer.pk }}"></td>
                        <td> {{ forloop.counter }} </td>
                        <td> <a href="/consult_record/?customer_id={{ record_obj.customer.id }}"> {{ record_obj.customer.name }}</a> </td>
                        <td> {{ record_obj.customer.get_status }} </td>
                        <td> {{ record_obj.note }} </td>
                        <td> {{ record_obj.get_status_display }} </td>
                        <td> {{ record_obj.consultant }} </td>
                        <td> {{ record_obj.delete_status }} </td>
                        <td> {{ record_obj.date|date:'Y-m-d' }} </td>
                        <td><a href="">添加</a></td>
                        <td><a href="">删除</a></td>


                    </tr>

                {% endfor %}

                <tbody>

                </tbody>
            </table>


        </form>

    </div>
{% endblock %}


